:root {
    --font-family: 'Roboto', sans-serif;
    --font-weigh-thin: 100;
}
 
 .parent {
     display: grid;
     grid-template: auto auto 1fr auto / 2fr 1fr;
     height: 100vh;
 }

 .title {
     background-color: rgb(80, 76, 76);
     color: white;
     padding: 5px;
     grid-row: 1;
     grid-column: 1 / -1;
     font: var(--font-family)

 }

 .menu {
     background-color: black;
     padding: 5px;
     display: flex;
     align-items: center;
     grid-row: 2;
     grid-column: 1 / -1;
     font: var(--font-weigh-thin)
 }

 .menu nav {
     width: 100%;
     display: flex;
     justify-content: space-around;
     
 }

 nav a {
     color: white;
     text-decoration: none;
     font: var(--font-weigh-thin)
 }

 .left {
     background-color: rgb(150, 150, 150);
     padding: 5px;
     grid-row: 3;
     grid-column: 1;
     font: var(--font-weigh-thin)

 }

 .right {
     padding: 5px;
     background-color: white;
     grid-row: 3;
     grid-column: 2;
     font: var(--font-weigh-thin)

 }

 footer {
     background-color: rgb(80, 76, 76);
     color: white;
     text-align: center;
     grid-row: 4;
     grid-column: 1 / -1;
     font: var(--font-weigh-thin)


 }